/* style */

body {
	font: 20/28px arial, sans-serif;
	background-color: lightskyblue;
	color: #333;
}


.container {
	width: 800px;
	margin: auto;
	background-color: white;
}


/*####/*
.instagram 
			width:200px;
			height:200px;
			background-image:url(image/twitter.png);
			background-repeat: no-repeat;
			display: inline-block;
			text-indent:999999999999px;
			position:absolute;
			top:-23px;
			right:-28px;
			}
/*/

.judul h1 {
	font-family: arial, sans-serif;

}


.header {
	padding: 20px;
}

.header .judul {
	font-size: 50px;
	font-weight: bold;
	font-family: arial, georgian, sans-serif;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 15px;
}

.header a {
	text-decoration: none;
	color: limegreen;
	padding: 5px;
	position: relative;
}

.header a:hover {
	background-color: indigo;
	color: black;
}

.hero {
	height: 300px;
	background-image: url(../img/hero.png);
	background-size: cover;
	background-position: 0 -170px;
}

.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
	font-size: 20px;
	font-family: arial, calibri, sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}

.main .penulis {
	font-size: 12px;
	margin-top: 5px;
}


.main .Penulis a {
	color: limegreen;
	text-decoration: none;
}

.main .Penulis a:hover {
	background-color: indigo;
	color: black;
}

.content p {
	margin-bottom: 20px;
	font-size: 14px;
	font-family: arial, georgian, sans-serif;
}

/* sidebar */
.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	padding-bottom: 7px;
	font-weight: bold;
	color: red;
}

.sidebar img {
	width: 70px;
	height: 70px;
	float: left;
	padding-right: 10px;
	border-radius: 50%;
}

.sidebar p {
	font-size: 12/20px;
	font-family: arial, georgian, sans-serif;
}

.footer {
	background-color: #333;
	padding: 5px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}

/* clearfloat */

.cf:before,
.cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}